
//- user.pug
extends ../layouts/common.pug

block content
    h1 User Page
    a(href="/user/create") + New
    form(action="/user/search" method="GET")
        input(name="q" type="text")
        button Search
    ul
        each value in danhSach
            li=value.name
            span=value.phone
            a(href="/user/" + value.id)  | View detail
            a(href="/user/delete/" + value.id)  | Delete
    a(href="/") < Back


