
//- create.pug
extends ../layouts/common.pug

block content
    
    h1.ml-3 Create
    .ml-5
        if errors
            each error in errors
                .alert.alert-danger.col-5=error

        form(action="/user/create" method="POST")
            div.form-group
                label Name
                input(name="name" type="text" class="form-control col-5" value=value?value.name:'')
                label Phone
                input(name="phone" type="text" class="form-control col-5" value=value?value.phone:'')
                button(class="btn btn-primary mt-2" aria-pressed="false") Create
        a.btn.btn-secondary(href="/user") < Back

    